@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.headerNav {
    position: relative;
    border-bottom: 1px solid #0e183c;

    height: 17px;

}



.navigationBar {
    align-items: center;
    display: flex;
    padding-top: 0px;
    left: 50%;
    top: 50%;

    font-family: IM_Hyemin-Bold;
    font-size: 8pt;
}

.barItem {
    left: 50%;
    top: 50%;

    justify-content: center;
}